body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backGroud, img{
display: flex;
justify-content: space-around;
background-color: antiquewhite;
width: 1280px;
height: 600px;
position: absolute;
}

.container1 {
    color: whitesmoke;
   position: relative;
   top: 35px;
}

.container2{
    position: relative;
    color:black ;
    background-color: aliceblue;
}

.myForm {
    width: 470px;
    height:550px ;
    /* background-color: rgb(223, 223, 223); */
    margin: 14px;
    border-radius: 12px;
    right: 65px;
    top: 20px;
}

.myForm > label {
    margin-bottom: 10px;
     text-align:right;
    padding: 0 10px;
    line-height: 30px;
    width: 350px;
    font-size: larger;
    font-weight: 600;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.myForm > input:hover{
    background-color: cornflowerblue;
}
.myForm > input{
    width: 300px;
    padding: 7px;
    margin: 10px;
    border-color: transparent;
    border-radius: 10px;
}

.container2 {
    margin: 40px;
    top: 50px;
    padding: 10px;
    line-height: 100px;
    text-align: center;
    text-decoration: wavy;
    width: 350px;
    height: 300px;
    border-radius: 20px 0 ;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, serif;
}

#submit{
    background-color:blueviolet;
    width: 100px;
    text-align: center;
    margin-top: 20px 0;
    text-decoration: none;
    color: white;
    border-color: transparent;
}
#submit:hover{
    background-color: black;
}